@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Váriaveis de cores, estilo/tamanho de fonte */
:root{
    --cor-primaria: #000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria: #3AF40D;
    --cor-hover: rgba(58,244, 13, 0.16);
    --cor-bg-cv: rgba(58, 244, 13, 0.4);

    --font-size-padrão: 1.13rem;
    --font-size-primaria: 1.25rem;
    --font-size-destaque: 2.38rem;
    --font-size-titulo: 1.88rem;
    --font-size-titulo-secundario: 1.5rem;

    --font-fml-padrão: Arial, Helvetica, sans-serif;
    --font-fml-texto: 'Montserrat', sans-serif;
    --font-fml-destaque: 'Alkatra', sans-serif;
    --font-fml-titulo: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-size: var(--font-size-padrão);
    font-family: var(--font-fml-padrão);
}

.cabecalho{
    padding: 2% 0% 0% 5%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    text-decoration: none;
    font-family: var(--font-fml-texto);
    font-size: var(--font-size-primaria);
    font-weight: 600;
    color: var(--cor-terciaria);
}

.cabecalho__menu__link:hover{
    color: var(--cor-secundaria) ;
}

.apresentacao{
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.destaqueTitulo{
    color: var(--cor-terciaria);
    font-family: var(--font-fml-destaque);
    font-size: var(--font-size-destaque);
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: var(--font-size-titulo);
    font-family: var(--font-fml-titulo);
}

.apresentacao__conteudo__texto{
    font-family: var(--font-fml-texto);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo{
    font-family: var(--font-size-titulo);
    font-weight: 400;
    font-size: var(--font-size-primaria);
}

.apresentacao__links__link{
    /* background-color: #3AF40D; */
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 368px;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-weight: 600;
    padding: 18px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-fml-texto);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.rodape{
    padding: 14px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-fml-texto);
    font-size: var(--font-size-primaria);
    font-weight: 400;
}